@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
}
@media only screen and (max-width: 1096px) {
  .background {
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
  }
}
.background__gradient {
  background: url(images/bg-main-desktop.png) no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1096px) {
  .background__gradient {
    background: url(images/bg-main-mobile.png);
    background-size: cover;
  }
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
@media only screen and (max-width: 1096px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    gap: 40px;
  }
}

.card {
  width: 447px;
  aspect-ratio: 1.8;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  color: white;
  filter: drop-shadow(13px 10px 14px rgba(0, 0, 0, 0.2));
}
@media only screen and (max-width: 1096px) {
  .card {
    width: 290px;
  }
}
.card__container {
  display: flex;
  flex-flow: column;
}
.card--front {
  background-image: url(images/bg-card-front.png);
  padding: 30px;
}
@media only screen and (max-width: 1096px) {
  .card--front {
    padding: 15px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 1096px) {
  .card--front {
    order: 2;
    margin-top: -101px;
    z-index: 2;
  }
}
.card--back {
  background-image: url(images/bg-card-back.png);
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 5px;
}
@media only screen and (max-width: 1096px) {
  .card--back {
    margin-left: 80px;
  }
}
.card__logo {
  background-image: url(images/card-logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 65px;
}
@media only screen and (max-width: 1096px) {
  .card__logo {
    height: 30px;
    width: 50px;
  }
}
.card__number {
  margin-top: 15%;
  font-size: 30px;
}
@media only screen and (max-width: 1096px) {
  .card__number {
    font-size: 18px;
  }
}
.card__info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.d-flex {
  display: flex;
}

.gap-1 {
  gap: 10px;
}

.card__form {
  width: 400px;
}
@media only screen and (max-width: 1096px) {
  .card__form {
    width: 350px;
  }
}

.input {
  margin-bottom: 20px;
  color: hsl(278deg, 68%, 11%);
  font-weight: 600;
  font-size: 12px;
}
.input input {
  display: inline-block;
  border: 1px solid hsl(270deg, 3%, 87%);
  border-radius: 4px;
  box-sizing: border-box;
  padding-inline: 10px;
  font-weight: 600;
  height: 40px;
  width: 100%;
}
.input input:focus {
  outline-color: hsl(278deg, 94%, 30%);
  outline-width: 1px;
  color: hsl(278deg, 68%, 11%);
}
.input label {
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.card-info-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.violet-btn {
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.complete__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
}
.complete__block h2 {
  margin-top: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.complete__block h4 {
  color: hsl(279deg, 6%, 55%);
  margin-bottom: 30px;
}

.d-none {
  display: none !important;
}

.error-msg {
  display: none;
  color: hsl(0deg, 100%, 66%);
}

.error-outline {
  border-color: hsl(0deg, 100%, 66%) !important;
}

.error .error-msg {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}/*# sourceMappingURL=style.css.map */